<main class="main-container">
    <section class="main-section">
      <h2 class="title">
        Registro de Horario
      </h2>
      <li class="list-group-item"><strong>Hola  {{profile?.givenName}} por favor registra tu horario</strong></li>
      <div class="form-card">
        <form class="row g-6 needs-validation" novalidate [formGroup]="createHorario" (ngSubmit)="agregarHorario()" >
          <div class="col-md-4">
            <br>
            <label for="validationCustom01" class="form-label">Día</label>
            <input type="text" name="date" class="form-control" formControlName="diaL" value="Lunes" placeholder="Lunes" readonly="readonly" />
            <div class="valid-feedback">
              Looks good!
            </div>
          </div>
          <div class="col-md-4">
            <br>
            <label for="validationCustom02" class="form-label">Ingreso</label>
            <input type="time" name="date" class="form-control" formControlName="ingresoL" />
            <div class="valid-feedback">
              Looks good!
            </div>
          </div>
          <div class="col-md-4">
            <br>
            <label for="validationCustom02" class="form-label">Salida</label>
            <input type="time" name="date" class="form-control" formControlName="salidaL" />
          </div>
          <div class="col-md-4">
            <br>
            <label for="validationCustom01" class="form-label">Día</label>
            <input type="text" name="date" class="form-control" formControlName="diaM" value="Martes" placeholder="Martes" readonly="readonly" />
  
          </div>
          <div class="col-md-4">
            <br>
            <label for="validationCustom02" class="form-label">Ingreso</label>
            <input type="time" name="date" class="form-control" formControlName="ingresoM" />
          </div>
          <div class="col-md-4">
            <br>
            <label for="validationCustom02" class="form-label">Salida</label>
            <input type="time" name="date" class="form-control" formControlName="salidaM" />
  
          </div>
          <div class="col-md-4">
            <br>
            <label for="validationCustom01" class="form-label">Día</label>
            <input type="text" name="date" class="form-control" formControlName="diaMi" value="Miércoles" placeholder="Miércoles" readonly="readonly" />
  
          </div>
          <div class="col-md-4">
            <br>
            <label for="validationCustom02" class="form-label">Ingreso</label>
            <input type="time" name="date" class="form-control" formControlName="ingresoMi" />
  
          </div>
          <div class="col-md-4">
            <br>
            <label for="validationCustom02" class="form-label">Salida</label>
            <input type="time" name="date" class="form-control" formControlName="salidaMi" />
  
          </div>
          <div class="col-md-4">
            <br>
            <label for="validationCustom01" class="form-label">Día</label>
            <input type="text" name="date" class="form-control" formControlName="diaJ" value="Jueves" placeholder="Jueves" readonly="readonly" />
  
          </div>
          <div class="col-md-4">
            <br>
            <label for="validationCustom02" class="form-label">Ingreso</label>
            <input type="time" name="date" class="form-control" formControlName="ingresoJ" />
  
          </div>
          <div class="col-md-4">
            <br>
            <label for="validationCustom02" class="form-label">Salida</label>
            <input type="time" name="date" class="form-control" formControlName="salidaJ" />
  
          </div>
          <div class="col-md-4">
            <br>
            <label for="validationCustom01" class="form-label">Día</label>
            <input type="text" name="date" class="form-control" formControlName="diaV" value="Viernes" placeholder="Viernes" readonly="readonly" />
  
          </div>
          <div class="col-md-4">
            <br>
            <label for="validationCustom02" class="form-label">Ingreso</label>
            <input type="time" name="date" class="form-control" formControlName="ingresoV" />
  
          </div>
          <div class="col-md-4">
            <br>
            <label for="validationCustom02" class="form-label">Salida</label>
            <input type="time" name="date" class="form-control" formControlName="salidaV" />
  
          </div>
          <div class="col-md-4">
            <br>
            <label for="validationCustom01" class="form-label">Día</label>
            <input type="text" name="date" class="form-control" formControlName="diaS" value="Sábado" placeholder="Sábado" readonly="readonly" />
  
          </div>
          <div class="col-md-4">
            <br>
            <label for="validationCustom02" class="form-label">Ingreso</label>
            <input type="time" name="date" class="form-control" formControlName="ingresoS" />
  
          </div>
          <div class="col-md-4">
            <br>
            <label for="validationCustom02" class="form-label">Salida</label>
            <input type="time" name="date" class="form-control" formControlName="salidaS" />
  
          </div>
  
          <div class="col-12">
            <br>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
              <label class="form-check-label" for="invalidCheck">
                Acepte ingreso de su horario
              </label>
  
            </div>
          </div>
          <div class="col-12">
            <button class="btn btn-primary" type="submit">Agregar Horario</button>
          </div>
        </form>
      </div>
    </section>
  </main>
